{
  "components": [
    {
      "type": "clock"
    },
    {
      "type": "föli",
      "props": {
        "stops": ["T4"],
        "arrivalDisplayLimit": 6
      }
    },
    {
      "type": "subreddit",
      "props": {
        "subreddit": "worldnews",
        "postDisplayLimit": 6
      }
    }
  ]
}
